In [16]:
import pandas as pd
import numpy as np

In [17]:
train=pd.read_csv("E:/EXTRAS/DataSet/Titatnic/train.csv")
test=pd.read_csv("E:/EXTRAS/DataSet/Titatnic/test.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
import matplotlib.pyplot as plt

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 66.2+ KB

# Filling NaN values with mean values.

In [20]:
train['Age'].fillna(train["Age"].mean(),inplace=True)
test['Age'].fillna(test['Age'].mean(),inplace=True)
test.dropna(axis=1)
test['Fare'].fillna(test['Fare'].mean(),inplace=True)

# converting Gender i.e Sex to numerical values from object type.

In [22]:
train.Sex.replace('male',1,inplace=True)
train.Sex.replace('female',0,inplace=True)
test.Sex.replace('male',1,inplace=True)
test.Sex.replace('female',0,inplace=True)

In [23]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           418 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(5), object(4)
memory usage: 29.5+ KB

In [24]:
y=train.Survived

In [25]:
Features=['Pclass','Age','SibSp','Fare','Sex']

In [26]:
X=train[Features].copy()

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train,X_valid,y_train,y_test=train_test_split(X,y,train_size=0.8,random_state=0)

In [29]:
from sklearn.ensemble import RandomForestRegressor

In [30]:
model=RandomForestRegressor(n_estimators=1000, max_depth=7, random_state=2)

In [31]:
model.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=7,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=2, verbose=0,
                      warm_start=False)

In [32]:
 preds=model.predict(X_valid)

# Rounding the values of preds.

In [33]:
from sklearn.metrics import accuracy_score

In [34]:
score=accuracy_score(preds.round(),y_test)

In [35]:
print(score)

0.8324022346368715

In [36]:
X_test=test[Features].copy()

In [37]:
preds_test=model.predict(X_test).round().astype(int)

In [38]:
submission = pd.DataFrame({'PassengerId':test['PassengerId'],'Survived':preds_test})

In [39]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
PassengerId    418 non-null int64
Survived       418 non-null int32
dtypes: int32(1), int64(1)
memory usage: 5.0 KB

In [40]:
submission.count()

PassengerId    418
Survived       418
dtype: int64

In [41]:
submission.to_csv("titanic_predictions.csv",index=False)